:9999  # Caddy listens on port 9999

log {   # Enable logging for debugging
    output stdout
    level DEBUG
}

# Rewrite all requests to the specified path
rewrite * /1bqvyj6kfq25sec6rahbjhxbazlohu76

# Reverse proxy to the external Make.com webhook URL
reverse_proxy https://hook.eu2.make.com {
    header_up Host {upstream_hostport}
    method POST
}
