:9999  # Caddy listens on port 9999

log {
    output stdout
    level DEBUG
}

# Rewrite all requests to the specified webhook path
rewrite * {env.MAKE_WEBHOOK_PATH}

# Reverse proxy to the Make.com webhook
reverse_proxy {env.MAKE_WEBHOOK_HOST} {
    header_up Host {env.MAKE_WEBHOOK_HOST}
    header_up X-Forwarded-For {remote}
    method POST
}
